

 :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  
  background-color: #d7d9dd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
 
} 
*{
  border: none;
  background-color: none;
}
.list-container{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
 
}

.content-container{
  margin-top: 50px;
  padding: 50px;
}

.container-modal{
  border: none !important;
  border-color: none !important;
  box-shadow: none !important;
  background-color:none !important;
  
}